* {
padding: 0;
margin:0;
box-sizing: border-box;
}

body {
  color: #40434a;
  font-family: 'Rubik', 'sans-serif';
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header .logo {
  padding-left: 24px;
  height: 2rem;
}

#colmar {
  color: #363c47;
  font-weight: 500;
}

#academy {
  color: #b0b2b7;
}

nav span {
    padding: 20px 10px;
    text-align: right;
}

nav {
    float: right;
    position: relative;
    font-size: .75rem;
}

nav {
  padding-right: 24px;
  width: 25%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

nav ul li {
  float: left;
  text-align: center;
  width: 25%;
}

nav ul li a {
  color:#40434a;
  padding-right: 16px;
  text-decoration: none;
}

nav ul li img {
  display: none;
}

.learn.container {
  background-color: #dedede;
  width: 100%;
  padding-top: 63px;
  display: flex;
}

.image {
  padding: 32px 24px;
  width: 60%;
}

.image img {
  max-width: 100%;
}

.second-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 40%;
}


.text {
  padding-right: 72px;
  text-align: left;
  width: 80%;
  margin: auto;
}

.text h1 {
  font-weight: 700;
  display: block;
  font-size: 3rem;
  line-height: 1.5;
  padding: 15px 0;
}

.text h4 {
  font-weight: 300;
  display: block;
  font-size: 2.125rem;
  line-height: 1.5;
  padding: 15px 0;
}

.text p {
  text-align: center;
  display: block;
}

.button {
  background-color: #363c47;
  width: 82%;
}

p.button {
  font-weight: 300;
  font-size: 1.125rem;
  padding: 16px;
  margin-top: 7%;
}

p.button a {
  color: white;
  text-decoration: none;
}

.offerings-container {
  margin: 0 auto;
  display: flex;
}

.first {
  flex: 1;
}

.first img {
  padding: 32px 24px;
}

.words h2 {
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 2.25rem;
  font-weight: 500;
}

.words .quote {
  padding-left: 24px;
  padding-bottom: 24px;
}

.words .person {
  padding-left: 24px;
  padding-bottom: 32px;
  font-size: .75rem;
}


.second {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dedede;
  }

.second h5 {
  font-size: 2.25rem;
}
.second p {
  margin-top: 8px;
  font-size: 1.375rem;
}

.link a {
  color: #0093ff;
  text-decoration: none;
  font-size: 1.25rem;
}
.orientation {
  flex: 1;
  border-bottom: 1px solid #dedede;
}

.orientation img {
  float: left;
  height: auto;
  padding: 32px 16px 16px 16px;
  max-width: 35%;
}

.orientation img.mobile {
  display: none;
}

.info {
  position: relative;
  align-items: center;
  width: 100%;
  top: 25%;
}

.campus {
  flex: 1;
  border-top: 1px solid #dedede;
}

.campus img {
  float: left;
  height: auto;
  padding: 16px;
  max-width: 35%;
}

.campus img.mobile {
  display: none;
}

.lecture {
  flex: 1;
  background-color: #dedede;
  margin-bottom: 32px;
}

.lecture img.mobile {
  display: none;
}

.lecture img {
  float: left;
  height: auto;
  padding: 16px;
  max-width: 35%;
}

.course-container {
  background-color: #dedede;
}

.title h1 {
  text-align: center;
  font-size: 3rem;
  padding: 32px 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4.5rem;
  justify-content: space-around;
}

.courses img {
  height: auto;
}

.course-box {
  display: block;
  margin-bottom: 32px;
  background-color: white;
}

.details {
  padding-left: 16px;
  background-color: white;
  max-width: 532px;
  height: 100%;
}

.course-box h3 {
  padding-top: 16px;
  padding-left: 16px;
  font-size: 1.625rem;
  font-weight: 500;
}

.course-box p {
  padding: 8px 0 24px 16px;
  font-size: 20px;
  color: #92989e;
}
.thesis-container {
  display: flex;
}

.first-column {
  flex: 1;
}

.words .quote p{
    padding-bottom: 32px;
}

/*Third Section with Video*/

.video-container {
  margin: 0 auto;
  display: flex;
}

video {
  padding: 0 24px 24px 24px;
  max-width: 100%;
}

.second-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.second-column h5 {
  font-size: 2.25rem;
}
.second-column p {
  margin-top: 8px;
  font-size: 1.375rem;
}

.thesis {
  flex: 1;
  background-color: #dedede;
}

.thesis img {
  float: left;
  height: auto;
  padding: 16px;
  max-width: 35%;
}

.information {
  position: relative;
  padding-top: 6rem;
}

/*Footer*/

footer {
  border-top: 1px solid #dedede;
  padding-top: 16px;
  padding-left: 1.5rem;
  font-size: 12px;
}

footer .copyright {
  float: left;
}

footer span {
  float: right;
  padding: 0 10px;
}

/*Media Query for Mobile Device */

@media only screen and (max-width: 480px) {

    #colmar {
      display:none;
    }

    #academy {
      display: none;
    }

  .hidden-xs {
    display: none;
  }
  nav {
    width: 75%;
  }
  nav ul li span {
    display: none;
  }
  nav ul li img {
    display: block;
  }
  nav ul li {
    width: 33.33%;
  }

  .learn.container {
    display: table;
  }

  .image {
    float: left;
    width: 100%;
  }

  .second-header {
    float: left;
    width: 100%;
  }

  .second-header .text {
    padding-left: 1rem;
  }

  p.button {
    width: 100%;
    margin-bottom: 32px;
  }

  .lecture img {
    width: 100%;
  }

  .lecture img .mobile {
    display: none;
  }

  .info {
    width: 100%;
    display: inline-block;
  }

  .orientation,
  .campus  {
    border: none;
  }

  .info h5,
  p {
    padding-left: 1rem;
  }

  p.link {
    margin-bottom: 4rem;
  }

  .orientation img {
    display: none;
  }

  .orientation img.mobile {
    display: block;
    min-width: 100%;
    position: relative;
    top: 22%;
  }

  .campus img {
    display: none;
  }

  .campus img.mobile {
    display: block;
    min-width: 100%;
    position: relative;
    top: 22%;
  }

  .lecture {
    background-color: #fff;
    margin: auto;
  }

  .lecture img {
    display: none;
  }

  .lecture img.mobile {
    display: block;
    min-width: 100%;
    position: relative;
    top: 22%;
  }

  .course-container {
    background-color: #fff;
  }

  .course-container .title h1 {
    margin-top: 2rem;
  }

  .course-box img,
  span p {
    display: none;
  }

.course-box h3 {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: .125rem;
}

  .course-box {
    width: 100%;
    background-color: #dedede;
  }

  .offerings-container .first {
    display: none;
  }

  .video-container .second-column,
  .video-container .words {
    display: none;
  }
}
